/* Burnt Orange Footer */
.page__footer {
  background-color: #BF5700;
  color: #ffffff;
}
.page__footer a {
  color: #ffffff;
  font-weight: bold;
}
/* Burnt Orange Header/Nav */
.masthead, .greedy-nav {
  background-color: #BF5700;
}
.masthead a, .greedy-nav a {
  color: #ffffff !important;
}
